.equipment {
    &__container {

        padding-left: $container-padding-desktop;
        padding-right: $container-padding-desktop;
        padding-top: $spacing-section-desktop;

        @include tablet {
            padding-top: $spacing-section-tablet;
            padding-left: $container-padding-tablet;
            padding-right: $container-padding-tablet;
            margin: 0 auto;
        }

        @include mobile {
            padding-top: $spacing-section-mobile;
            padding-left: $container-padding-mobile;
            padding-right: $container-padding-mobile;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    &__heading {
        @include text-heading;
        margin-bottom: $spacing-heading-desktop;

        @include tablet {
            margin-bottom: $spacing-heading-tablet;
        }

        @include mobile {
            margin-bottom: $spacing-heading-mobile;
        }
    }

    &__variants {
        display: flex;
        flex-direction: column;
        gap: $spacing-element-desktop;

        @include tablet {
            gap: $spacing-element-tablet;
        }
    }

    &__intro {
        @include text-body;
        width: 100%;
    }

    &__cards {
        display: flex;
        gap: $spacing-block-desktop;

        @include tablet {
            gap: 15px;
            flex-wrap: wrap;
        }

        @include mobile {
            gap: $spacing-element-mobile;
            flex-direction: column;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        flex: 1;
        padding: $spacing-block-desktop $spacing-block-desktop 52px $spacing-block-desktop;
        border: 0.5px solid rgba(192, 191, 191, 0.7);
        background-color: rgba(192, 191, 191, 0.05);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 5px;
        gap: $spacing-element-desktop;
        flex-direction: column;

        @include tablet {
            padding: $spacing-block-tablet;
            gap: $spacing-element-tablet;
            max-width: 360px;
            margin: 0 auto;
            width: 100%;
        }

        @include mobile {
            padding: $spacing-block-mobile $spacing-block-mobile 24px $spacing-block-mobile;
            gap: $spacing-subheading-mobile;
        }

        &-title {
            @include text-card-title;
            text-align: center;

            span {
                font-size: $text-small-desktop;
                font-weight: $weight-regular;

                @include mobile {
                    font-size: $text-small-mobile;
                }
            }
        }

        &--accent {
            background: rgba(0, 192, 165, 0.15);
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
        }

        &-list {
            list-style-type: disc;
            list-style-position: outside;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-left: 30px;

            @include mobile {
                padding-left: 15px;
            }
        }

        &-item {
            @include text-body;
        }
    }

    &__benefits {
        display: flex;
        flex-direction: column;
        gap: $spacing-element-desktop;
        padding-top: $spacing-block-desktop;
        list-style: none;

        @include tablet {
            gap: $spacing-subheading-tablet;
        }

        @include mobile {
            padding-top: $spacing-block-mobile;
            gap: $spacing-subheading-mobile;
        }

        &-title {
            @include text-block;
            text-align: center;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    &__benefit {
        display: flex;
        align-items: center;
        gap: 22px;

        @include tablet {
            gap: 10px;
        }

        &-number {
            @include flex-center;
            @include text-body;
            background: rgba(192, 191, 191, 0.1);
            box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1),
                inset -3px -3px 5px rgba(0, 0, 0, 0.1),
                1px -1px 0 rgba(192, 191, 191, 0.5),
                -1px 1px 0 rgba(192, 191, 191, 0.5);
            font-weight: $weight-bold;
            border-radius: 50%;
            min-width: 38px;
            min-height: 38px;
        }

        &-text {
            @include text-body;
        }
    }

    &__photo {
        padding-top: $spacing-block-desktop;
        gap: $spacing-element-desktop;

        @include mobile {
            padding-top: $spacing-block-mobile;
        }

        &-title {
            @include text-block;
            text-align: center;
            margin-block-end: $spacing-element-desktop;

            @include tablet {
                margin-block-end: $spacing-subheading-tablet;
            }

            @include mobile {
                margin-block-end: $spacing-subheading-mobile;
            }
        }
    }

    &__gallery {
        display: flex;
        align-items: center;
        justify-content: center;

        &-wrapper {
            position: relative;
            width: 100%;
            max-width: 1160px;

            @include tablet {
                text-align: center;
                word-spacing: 352px;
            }

            @include mobile {
                text-align: center;
                word-spacing: 156px;
            }
        }

        .swiper {
            width: 100%;
            max-width: 1160px;
            overflow: visible;
        }

        .swiper-slide img {
            border-radius: 5px;
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
        }

        &-btn {
            z-index: 9999;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &--prev {
                position: absolute;
                left: -40px;
                top: 50%;
                transform: translateY(-50%);

                @include tablet {
                    position: static;
                    transform: none;
                    display: inline-block;
                    margin-block-start: $spacing-subheading-tablet;
                    margin-right: 30px;
                }

                @include mobile {
                    position: static;
                    transform: none;
                    display: inline-block;
                    margin-block-start: $spacing-block-mobile;

                }
            }

            &--next {
                position: absolute;
                right: -40px;
                top: 50%;
                transform: translateY(-50%);

                @include tablet {
                    position: static;
                    transform: none;
                    display: inline-block;
                    margin-block-start: $spacing-subheading-tablet;
                    // margin-inline-start: 352px;
                }

                @include mobile {
                    position: static;
                    transform: none;
                    display: inline-block;
                    margin-block-start: $spacing-block-mobile;
                    // margin-inline-start: 156px;
                }
            }
        }
    }

    &__stats {
        display: flex;
        flex-direction: column;
        gap: $spacing-element-desktop;
        padding-top: $spacing-block-desktop;
        list-style: none;

        @include tablet {
            gap: $spacing-subheading-tablet;
        }

        @include mobile {
            padding-top: $spacing-block-mobile;
            gap: $spacing-subheading-mobile;
        }

        &-title {
            @include text-block;
            text-align: center;
        }

        &-list {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            row-gap: 19px;
            list-style: none;

            @include tablet {
                gap: 20px 34px;
            }

            @include mobile {
                grid-template-columns: 1fr;
                gap: $spacing-element-mobile;
                 justify-content: center;
            }
        }
    }

    &__stat {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;

        &:nth-child(3) {
            grid-column: 1 / -1;
            justify-self: center;
        }

        &-text {
            @include text-body;
            color: $color-text-primary;
        }

        &-number {
            @include text-stat-number;
            // @include text-gradient;
            background: radial-gradient(50% 50% at 50% 50%, #00C0A5 23.56%, #005A4D 67.31%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }

}