@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

body {
  background: linear-gradient(92.14deg, #001A1C 0.52%, #005C4D 91.37%);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #C0BFBF;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 7.5rem;
}
@media (max-width: 1024px) {
  .container {
    padding-top: 6.875rem;
    max-width: 834px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-top: 3.75rem;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header__container {
  padding-left: 140px;
  padding-right: 45px;
}
@media (max-width: 1024px) {
  .header__container {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .header__container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.menu-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .menu-desktop {
    display: none;
  }
}
.menu-desktop__list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding-right: 99px;
}
.menu-desktop__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
}

.mobile-menu {
  display: none;
  padding-top: 22px;
}
@media (max-width: 1024px) {
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.mobile-menu .header__logo-img--small {
  display: none;
}
@media (max-width: 1024px) {
  .mobile-menu .header__logo-img--small {
    display: block;
    width: 124px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .mobile-menu .header__logo-img--small {
    width: 80px;
  }
}
.mobile-menu__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 110;
}
.mobile-menu__burger-icon {
  display: block;
}

.mobile-panel {
  position: fixed;
  inset: 0;
  z-index: 110;
  visibility: hidden;
  pointer-events: none;
}
.mobile-panel.active {
  visibility: visible;
  pointer-events: auto;
}
.mobile-panel__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 26, 28, 0.8);
  opacity: 0;
}
.mobile-panel__nav {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 279px;
  min-height: 280px;
  background: #005C4D;
  padding: 48px 57px 50px 57px;
  overflow-y: auto;
}
.mobile-panel__close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.mobile-panel__icon {
  display: block;
  width: 24px;
  height: 24px;
}
.mobile-panel__list {
  display: grid;
  place-items: center;
  gap: 24px;
}
.mobile-panel__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  transition: color 0.3s ease;
}
.mobile-panel__link:hover {
  color: #00C0A5;
}

.hero__container {
  padding: 48px 45px 136px 140px;
  position: relative;
}
@media (max-width: 1024px) {
  .hero__container {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .hero__container {
    padding: 40px 15px 0 15px;
    margin: 0 auto;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
@media (max-width: 1024px) {
  .hero__content {
    gap: 43px;
  }
}
@media (max-width: 767px) {
  .hero__content {
    gap: 30px;
  }
}
.hero__title {
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3.438rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 2.813rem;
  }
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 2rem;
  }
}
.hero__title-accent {
  background: radial-gradient(circle 220px at right top, #005C4D 9%, #00C0A5 38%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (max-width: 1024px) {
  .hero__title-accent {
    background: radial-gradient(circle 220px at left bottom, #005C4D 9%, #00C0A5 38%);
    -webkit-background-clip: text;
    background-clip: text;
  }
}
@media (max-width: 767px) {
  .hero__title-accent {
    background: radial-gradient(circle 220px at center, #005C4D 9%, #00C0A5 38%);
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.hero__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .hero__subtitle {
    font-size: 1.563rem;
  }
}
@media (max-width: 767px) {
  .hero__subtitle {
    font-size: 1.25rem;
  }
}
.hero__subtitle {
  width: 100%;
  height: 41px;
}
@media (max-width: 767px) {
  .hero__subtitle {
    height: 54px;
  }
}
.hero__img {
  max-width: 468px;
  max-height: 474px;
  display: block;
  float: right;
  shape-outside: margin-box;
  margin-top: -70px;
}
@media (max-width: 1024px) {
  .hero__img {
    max-width: 528px;
    max-height: 535px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .hero__img {
    max-width: 298px;
    max-height: 302px;
    margin-top: 0;
  }
}
.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001A1C;
  background: #00C0A5;
  border-radius: 5px;
}
.hero__button:hover {
  background: #007D6C;
}
.hero__button:active {
  background: #00584C;
}
.hero__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  padding: 15px 30px;
  width: 188px;
  height: 52px;
  margin-block-start: 156px;
}
@media (max-width: 767px) {
  .hero__button {
    margin-block-start: 288px;
  }
}

.about__container {
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 7.5rem;
}
@media (max-width: 1024px) {
  .about__container {
    padding-top: 6.875rem;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .about__container {
    padding-top: 3.75rem;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    margin: 0 auto;
  }
}
.about__heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.688rem;
  line-height: 1;
  letter-spacing: 0;
  color: #00C0A5;
}
@media (max-width: 1024px) {
  .about__heading {
    font-size: 1.875rem;
  }
}
@media (max-width: 767px) {
  .about__heading {
    font-size: 1.563rem;
  }
}
.about__heading {
  margin-bottom: 3.75rem;
}
@media (max-width: 1024px) {
  .about__heading {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 767px) {
  .about__heading {
    margin-bottom: 1.875rem;
  }
}
.about__card {
  display: flex;
  gap: 2.5rem;
  justify-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 0.5px solid rgba(192, 191, 191, 0.2);
  background-color: rgba(192, 191, 191, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 70px 100px;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .about__card {
    gap: 1.875rem;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .about__card {
    gap: 0.9375rem;
    padding: 21.5px 20.5px;
  }
}
.about__card-image img {
  width: 360px;
  height: 240px;
  flex-basis: 360px;
  display: block;
  object-fit: cover;
  border-radius: 4.48px;
  flex-basis: 100%;
  max-width: 100%;
}
@media (max-width: 1024px) {
  .about__card-image img {
    width: 674px;
    height: 450px;
    flex-basis: 674px;
  }
}
@media (max-width: 767px) {
  .about__card-image img {
    width: 322.5px;
    height: 215px;
    flex-basis: 320px;
  }
}
.about__card-text {
  flex-basis: 500px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 560px;
}
@media (max-width: 1024px) {
  .about__card-text {
    gap: 10px;
    flex-basis: 135px;
    max-width: 674px;
  }
}
.about__card-text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .about__card-text p {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .about__card-text p {
    font-size: 1rem;
  }
}
.about__advantages {
  margin-block-start: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
@media (max-width: 767px) {
  .about__advantages {
    gap: 0.9375rem;
  }
}
.about__advantages-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.063rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .about__advantages-title {
    font-size: 1.563rem;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .about__advantages-title {
    font-size: 1.25rem;
    line-height: 1;
  }
}
.about__advantages-title {
  text-align: center;
}
.about__advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 2.5rem;
}
@media (max-width: 1024px) {
  .about__advantages-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .about__advantages-list {
    grid-template-columns: 1fr;
    gap: 0.625rem;
  }
}
.about__advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 5px;
  max-width: 360px;
  text-align: center;
}
.about__advantage-icon {
  width: 21px;
  height: 23.33px;
}
.about__advantage-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .about__advantage-text {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .about__advantage-text {
    font-size: 1rem;
  }
}
.about__advantage--centered {
  grid-column: 1/-1;
  justify-self: center;
}
@media (max-width: 1024px) {
  .about__advantage--centered {
    grid-column: auto;
  }
}
@media (max-width: 1024px) {
  .about__advantage:nth-child(3) {
    order: 4;
  }
}
@media (max-width: 767px) {
  .about__advantage:nth-child(3) {
    order: 3;
  }
}
@media (max-width: 1024px) {
  .about__advantage:nth-child(4) {
    order: 3;
  }
}
@media (max-width: 767px) {
  .about__advantage:nth-child(4) {
    order: 4;
  }
}

.equipment__heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.688rem;
  line-height: 1;
  letter-spacing: 0;
  color: #00C0A5;
}
@media (max-width: 1024px) {
  .equipment__heading {
    font-size: 1.875rem;
  }
}
@media (max-width: 767px) {
  .equipment__heading {
    font-size: 1.563rem;
  }
}
.equipment__heading {
  margin-bottom: 3.75rem;
}
@media (max-width: 1024px) {
  .equipment__heading {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 767px) {
  .equipment__heading {
    margin-bottom: 1.875rem;
  }
}
.equipment__variants {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
@media (max-width: 1024px) {
  .equipment__variants {
    gap: 1.25rem;
  }
}
.equipment__intro {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .equipment__intro {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .equipment__intro {
    font-size: 1rem;
  }
}
.equipment__intro {
  width: 100%;
}
.equipment__cards {
  display: flex;
  gap: 2.5rem;
}
@media (max-width: 1024px) {
  .equipment__cards {
    gap: 15px;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .equipment__cards {
    gap: 0.625rem;
    flex-direction: column;
  }
}
.equipment__card {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 2.5rem 2.5rem 52px 2.5rem;
  border: 0.5px solid rgba(192, 191, 191, 0.2);
  background-color: rgba(192, 191, 191, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 5px;
  gap: 1.875rem;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .equipment__card {
    padding: 2.5rem;
    gap: 1.25rem;
    max-width: 360px;
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .equipment__card {
    padding: 1.25rem 1.25rem 24px 1.25rem;
    gap: 0.9375rem;
  }
}
.equipment__card-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.438rem;
  line-height: 1;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .equipment__card-title {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .equipment__card-title {
    font-size: 1.25rem;
  }
}
.equipment__card-title {
  text-align: center;
}
.equipment__card-title span {
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 767px) {
  .equipment__card-title span {
    font-size: 0.875rem;
  }
}
.equipment__card--accent {
  background: rgba(0, 192, 165, 0.15);
  border: 1px solid rgba(0, 192, 165, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.equipment__card-list {
  list-style-type: disc;
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
}
@media (max-width: 767px) {
  .equipment__card-list {
    padding-left: 15px;
  }
}
.equipment__card-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .equipment__card-item {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .equipment__card-item {
    font-size: 1rem;
  }
}
.equipment__benefits {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding-top: 2.5rem;
  list-style: none;
}
@media (max-width: 1024px) {
  .equipment__benefits {
    gap: 1.875rem;
  }
}
@media (max-width: 767px) {
  .equipment__benefits {
    padding-top: 1.25rem;
    gap: 0.9375rem;
  }
}
.equipment__benefits-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.063rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .equipment__benefits-title {
    font-size: 1.563rem;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .equipment__benefits-title {
    font-size: 1.25rem;
    line-height: 1;
  }
}
.equipment__benefits-title {
  text-align: center;
}
.equipment__benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.equipment__benefit {
  display: flex;
  align-items: center;
  gap: 22px;
}
@media (max-width: 1024px) {
  .equipment__benefit {
    gap: 10px;
  }
}
.equipment__benefit-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .equipment__benefit-number {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .equipment__benefit-number {
    font-size: 1rem;
  }
}
.equipment__benefit-number {
  background: rgba(192, 191, 191, 0.1);
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1), inset -3px -3px 5px rgba(0, 0, 0, 0.1), 1px -1px 0 rgba(192, 191, 191, 0.5), -1px 1px 0 rgba(192, 191, 191, 0.5);
  font-weight: 700;
  border-radius: 50%;
  min-width: 38px;
  min-height: 38px;
}
.equipment__benefit-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .equipment__benefit-text {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .equipment__benefit-text {
    font-size: 1rem;
  }
}
.equipment__photo {
  padding-top: 2.5rem;
  gap: 1.875rem;
}
@media (max-width: 767px) {
  .equipment__photo {
    padding-top: 1.25rem;
  }
}
.equipment__photo-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.063rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .equipment__photo-title {
    font-size: 1.563rem;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .equipment__photo-title {
    font-size: 1.25rem;
    line-height: 1;
  }
}
.equipment__photo-title {
  text-align: center;
  margin-block-end: 1.875rem;
}
@media (max-width: 1024px) {
  .equipment__photo-title {
    margin-block-end: 1.875rem;
  }
}
@media (max-width: 767px) {
  .equipment__photo-title {
    margin-block-end: 0.9375rem;
  }
}
.equipment__gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}
.equipment__gallery-wrapper {
  position: relative;
  width: 100%;
  max-width: 1160px;
}
@media (max-width: 1024px) {
  .equipment__gallery-wrapper {
    text-align: center;
    word-spacing: 352px;
  }
}
@media (max-width: 767px) {
  .equipment__gallery-wrapper {
    text-align: center;
    word-spacing: 156px;
  }
}
.equipment__gallery .swiper {
  width: 100%;
  max-width: 1160px;
  overflow: visible;
}
.equipment__gallery .swiper-slide img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.equipment__gallery-btn {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.equipment__gallery-btn--prev {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1024px) {
  .equipment__gallery-btn--prev {
    position: static;
    transform: none;
    display: inline-block;
    margin-block-start: 1.875rem;
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .equipment__gallery-btn--prev {
    position: static;
    transform: none;
    display: inline-block;
    margin-block-start: 1.25rem;
  }
}
.equipment__gallery-btn--next {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1024px) {
  .equipment__gallery-btn--next {
    position: static;
    transform: none;
    display: inline-block;
    margin-block-start: 1.875rem;
  }
}
@media (max-width: 767px) {
  .equipment__gallery-btn--next {
    position: static;
    transform: none;
    display: inline-block;
    margin-block-start: 1.25rem;
  }
}
.equipment__stats {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding-top: 2.5rem;
  list-style: none;
}
@media (max-width: 1024px) {
  .equipment__stats {
    gap: 1.875rem;
  }
}
@media (max-width: 767px) {
  .equipment__stats {
    padding-top: 1.25rem;
    gap: 0.9375rem;
  }
}
.equipment__stats-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.063rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .equipment__stats-title {
    font-size: 1.563rem;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .equipment__stats-title {
    font-size: 1.25rem;
    line-height: 1;
  }
}
.equipment__stats-title {
  text-align: center;
}
.equipment__stats-list {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  row-gap: 19px;
  list-style: none;
}
@media (max-width: 1024px) {
  .equipment__stats-list {
    gap: 20px 34px;
  }
}
@media (max-width: 767px) {
  .equipment__stats-list {
    grid-template-columns: 1fr;
    gap: 0.625rem;
    justify-content: center;
  }
}
.equipment__stat {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}
.equipment__stat:nth-child(3) {
  grid-column: 1/-1;
  justify-self: center;
}
.equipment__stat-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .equipment__stat-text {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .equipment__stat-text {
    font-size: 1rem;
  }
}
.equipment__stat-text {
  color: #C0BFBF;
}
.equipment__stat-number {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 0;
}
@media (max-width: 1024px) {
  .equipment__stat-number {
    font-size: 3.75rem;
  }
}
@media (max-width: 767px) {
  .equipment__stat-number {
    font-size: 3rem;
  }
}
.equipment__stat-number {
  background: linear-gradient(180deg, #005A4D 10%, #00C0A5 50%, #005A4D 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.services__heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.688rem;
  line-height: 1;
  letter-spacing: 0;
  color: #00C0A5;
}
@media (max-width: 1024px) {
  .services__heading {
    font-size: 1.875rem;
  }
}
@media (max-width: 767px) {
  .services__heading {
    font-size: 1.563rem;
  }
}
.services__heading {
  margin-bottom: 3.75rem;
}
@media (max-width: 1024px) {
  .services__heading {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 767px) {
  .services__heading {
    margin-bottom: 1.875rem;
  }
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}
@media (max-width: 1024px) {
  .services__grid {
    gap: 0.9375rem;
  }
}
@media (max-width: 767px) {
  .services__grid {
    grid-template-columns: 1fr;
    gap: 0.625rem;
  }
}
.services__card {
  position: relative;
  border-radius: 3.24px;
  overflow: hidden;
  max-width: 560px;
  max-height: 340px;
}
.services__card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(21, 13, 11, 0) 11.47%, rgba(21, 13, 11, 0.6) 92.65%);
  z-index: 1;
}
@media (max-width: 1024px) {
  .services__card {
    max-width: 370px;
    max-height: 225px;
  }
}
@media (max-width: 767px) {
  .services__card {
    max-width: 363px;
    max-height: 220px;
  }
}
.services__card-img {
  width: 100%;
  height: 100%;
  border-radius: 3.24px;
}
.services__card-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.063rem;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 1024px) {
  .services__card-title {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .services__card-title {
    font-size: 1.25rem;
  }
}
.services__card-title {
  color: #C0BFBF;
  position: absolute;
  text-align: center;
  height: 80px;
  width: 100%;
  bottom: 40px;
  z-index: 2;
}
@media (max-width: 1024px) {
  .services__card-title {
    bottom: 29px;
    height: 54px;
  }
}
@media (max-width: 767px) {
  .services__card-title {
    bottom: 26.38px;
  }
}

.partners__heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.688rem;
  line-height: 1;
  letter-spacing: 0;
  color: #00C0A5;
}
@media (max-width: 1024px) {
  .partners__heading {
    font-size: 1.875rem;
  }
}
@media (max-width: 767px) {
  .partners__heading {
    font-size: 1.563rem;
  }
}
.partners__heading {
  margin-bottom: 3.75rem;
}
@media (max-width: 1024px) {
  .partners__heading {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 767px) {
  .partners__heading {
    margin-bottom: 1.875rem;
  }
}
.partners__list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 1024px) {
  .partners__list {
    gap: 1.25rem;
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 767px) {
  .partners__list {
    gap: 0.625rem;
    margin-bottom: 1.25rem;
  }
}
.partners__card {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  padding: 40px;
  border-radius: 5px;
  background: rgba(192, 191, 191, 0.1);
  border: 0.5px solid rgba(192, 191, 191, 0.2);
  transition: color 0.3s ease;
}
.partners__card:hover {
  background: rgba(192, 191, 191, 0.2);
}
.partners__card:active {
  background: rgba(192, 191, 191, 0.3);
}
@media (max-width: 1024px) {
  .partners__card {
    gap: 1.25rem;
  }
}
@media (max-width: 767px) {
  .partners__card {
    gap: 0.625rem;
    flex-direction: column;
    padding: 20px;
  }
}
.partners__card-logo {
  flex-shrink: 0;
  width: 94px;
  min-height: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
@media (max-width: 1024px) {
  .partners__card-logo {
    gap: 0;
    min-height: 64px;
  }
}
@media (max-width: 767px) {
  .partners__card-logo {
    min-height: 60px;
  }
}
.partners__card-logo img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.partners__card-info {
  flex: 1;
}
.partners__card-name {
  font-weight: 600;
  font-size: 1.438rem;
}
@media (max-width: 767px) {
  .partners__card-name {
    font-size: 1.25rem;
  }
}
.partners__card-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .partners__card-text {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .partners__card-text {
    font-size: 1rem;
  }
}
.partners__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .partners__cta {
    gap: 0.625rem;
  }
}
.partners__cta-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.063rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .partners__cta-title {
    font-size: 1.563rem;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .partners__cta-title {
    font-size: 1.25rem;
    line-height: 1;
  }
}
.partners__cta-title {
  text-align: center;
}
.partners__cta-email {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #C0BFBF;
}
@media (max-width: 1024px) {
  .partners__cta-email {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .partners__cta-email {
    font-size: 1rem;
  }
}
.partners__cta-email {
  text-align: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 200;
  visibility: hidden;
  pointer-events: none;
}
.modal.active {
  visibility: visible;
  pointer-events: auto;
}
.modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 26, 28, 0.85);
  opacity: 0;
}
.modal__window {
  position: relative;
  z-index: 2;
  width: 552px;
  height: 487px;
  background: #005C4D;
  border-radius: 5px;
  padding: 32px 44px 40px 44px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 1024px) {
  .modal__window {
    width: 363px;
    height: auto;
    gap: 20px;
    padding: 25.5px 20px;
  }
}
.modal__title {
  font-size: 1.438rem;
  height: 62px;
  letter-spacing: 0;
  font-weight: 600;
  color: #C0BFBF;
  text-align: center;
}
@media (max-width: 1024px) {
  .modal__title {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .modal__title {
    font-size: 1.125rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 1024px) {
  .form {
    gap: 10px;
  }
}
.form__group {
  position: relative;
}
.form__input {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  width: 100%;
  padding: 7px 10px;
  background: rgba(0, 0, 0, 0.004);
  border: 0.5px solid rgba(192, 191, 191, 0.7);
  backdrop-filter: blur(15px);
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), inset 0 -5px 10px rgba(192, 191, 191, 0.1);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 5px;
  color: #C0BFBF;
  outline: none;
}
.form__input::placeholder {
  color: rgba(192, 191, 191, 0.7);
}
.form__input:focus {
  border-color: #00C0A5;
}
.form__checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block-start: 5px;
}
.form__checkbox-input {
  position: absolute;
  width: 20px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  cursor: pointer;
}
.form__checkbox-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(192, 191, 191, 0.7);
  border-radius: 3px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), inset 0 -5px 10px rgba(192, 191, 191, 0.1);
  flex-shrink: 0;
  cursor: pointer;
}
.form__checkbox-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  color: rgba(192, 191, 191, 0.7);
}
@media (max-width: 1024px) {
  .form__checkbox-label {
    font-size: 0.75rem;
  }
}
.form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001A1C;
  background: #00C0A5;
  border-radius: 5px;
}
.form__submit:hover {
  background: #007D6C;
}
.form__submit:active {
  background: #00584C;
}
.form__submit {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  padding: 15px;
  margin-top: 15px;
}
@media (max-width: 1024px) {
  .form__submit {
    padding: 9px;
  }
}

.form__checkbox-input:checked + .form__checkbox-custom {
  background: #00C0A5;
  border-color: #00C0A5;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L3.5 6.5L9 1' stroke='%23001A1C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */
