.hero {

    &__container {
        padding: 48px 45px 136px $container-padding-desktop;
        position: relative;


        @include tablet {
            padding-left: $container-padding-tablet;
            padding-right: $container-padding-tablet;
            margin: 0 auto;
        }

        @include mobile {
            padding: 40px $container-padding-mobile 0 $container-padding-mobile;
            margin: 0 auto;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 37px;

        @include tablet {
            gap: 43px;
        }

        @include mobile {
            gap: 30px;
        }
    }

    &__title {
        z-index: 1;
        @include text-hero-title;

        &-accent {
            @include text-gradient;
        }
    }

    &__subtitle {
        @include text-hero-subtitle;
        width: 100%;
        height: 41px;

        @include mobile {
            height: 54px;
        }
    }


    &__img {
        max-width: 468px;
        max-height: 474px;
        display: block;
        float: right;
        shape-outside: margin-box;
        margin-top: -70px;

        @include tablet {
            max-width: 528px;
            max-height: 535px;
            margin-top: 0;
        }

        @include mobile {
            max-width: 298px;
            max-height: 302px;
            margin-top: 0;
        }
    }

    &__button {
        @include button;
        @include text-16-regular;
        padding: 15px 30px;
        width: 188px;
        height: 52px;
        margin-block-start: 156px;
        // position:relative;
        // bottom: 150px;

        @include tablet {
            // position: static;
        }

        @include mobile {
            margin-block-start: 288px;

        }
    }
}