.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding-left: $container-padding-desktop;
  padding-right: $container-padding-desktop;

  @include tablet {
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
  }

  @include mobile {
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;
  }
}