.container {
  max-width: $container-max-width;
  margin: 0 auto;
  width: 100%;
  padding-left: $container-padding-desktop;
  padding-right: $container-padding-desktop;
  padding-top: $spacing-section-desktop;

  @include tablet {
    padding-top: $spacing-section-tablet;
    max-width: $container-max-width-tablet;
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
  }

  @include mobile {
    padding-top: $spacing-section-mobile;
    max-width: 100%;
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;
  }
}