.header {
    &__container {
        padding-left: $container-padding-desktop;
        padding-right: 45px;

        @include tablet {
            padding-left: $container-padding-tablet;
            padding-right: $container-padding-tablet;
            margin: 0 auto;
        }

        @include mobile {
            padding-left: $container-padding-mobile;
            padding-right: $container-padding-mobile;
            max-width: 100%;
            margin: 0 auto;
        }
    }
}