html {
    font-size: $base-font-size;
}

body {
    @include bg-gradient;
    font-family: $font-family-base;
    font-weight: $weight-regular;
    font-size: $text-body-desktop;
    color: $color-text-primary;
}