// COLORS

// Фон
$color-bg-dark: #001A1C;
$color-bg-green: #005C4D;

// Акцент
$color-accent: #00C0A5;
// $color-accent-hover: #007D6C;
// $color-accent-active: #00584C;

// Текст
$color-text-primary: #C0BFBF;

// Кнопка
$color-btn-default:  #00C0A5;
$color-btn-hover: #007D6C;
$color-btn-active:#00584C;
$color-btn-text: #001A1C;

// плашка (дефолтная)
$color-badge-default: rgba(#C0BFBF, 0.10);
$color-badge-hover: rgba(#C0BFBF, 0.20);
$color-badge-active: rgba(#C0BFBF, 0.30);

// плашка (акцентная)
$color-badge-accent: rgba(#00C0A5, 0.15);

// Окна
$color-form-bg: #005C4D;
$color-cookie-bg: rgba(#C0BFBF, 0.40);